// MIXINS
@mixin max-media($args) {
	@media screen and (max-width: $args) {
		@content;
	}
}
@mixin min-media($args) {
	@media screen and (min-width: $args) {
		@content;
	}
}
/* IE 10+ */
@mixin ie {
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		@content;
	}
}
@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
	animation: #{$str};
}
@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}
@mixin transform($args...) {
	transform: $args;
	-webkit-transform: $args;
	-o-transform: $args;
}
@mixin transform-origin($args) {
	transform-origin: $args;
	-webkit-transform-origin: $args;
	-o-transform-origin: $args;
}
@mixin transition-delay($args) {
	transition-delay: $args;
	-webkit-transition-delay: $args;
	-o-transition-delay: $args;
}
@mixin transition($args...) {
	transition: $args;
	-webkit-transition: $args;
	-o-transition: $args;
}
@mixin br($radius) {
	border-radius: $radius;
	background-clip: padding-box; /* stops bg color from leaking outside the border: */
}
@mixin flex($dir: row, $justify: flex-start, $align: stretch, $wrap: nowrap) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-wrap: $wrap;
	flex-direction: $dir;
}
@mixin mid() {
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
	position: absolute;
}
@mixin mid-flex() {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}
@mixin fullpage() {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
@mixin full-fixed() {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
@mixin hidden() {
	opacity: 0;
	visibility: hidden;
}
@mixin visible() {
	opacity: 1;
	visibility: visible;
}
@mixin overtext($args) {
	display: -webkit-inline-box;
	-webkit-line-clamp: $args;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
@mixin text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
@mixin lh($lh, $fsz) {
	line-height: ($lh / $fsz);
}
//calc to tracking in psd => letter spacing to css
@mixin tracking($tracking) {
	letter-spacing: ($tracking / 1000) * 1em;
}
@mixin offset($col: 0) {
	margin-left: (100% / 12 * $col);
}
/* Custom scrollbar*/
@mixin custom-scrollbar(
	$width: $w-scroll,
	$thumb: $main-cl,
	$track: $white-cl
) {
	&::-webkit-scrollbar {
		width: $width;
	}
	&::-webkit-scrollbar-thumb {
		background: $thumb;
	}
	&::-webkit-scrollbar-track {
		background: $track;
	}
}
@mixin custom-vertical-scrollbar(
	$height: 2px,
	$thumb: $main-cl,
	$track: $white-cl
) {
	&::-webkit-scrollbar {
		height: $height;
	}
	&::-webkit-scrollbar-thumb {
		background: $thumb;
	}
	&::-webkit-scrollbar-track {
		background: $track;
	}
}
@mixin main-gradient {
	background: rgb(255, 211, 116);
	background: linear-gradient(
		180deg,
		rgba(255, 211, 116, 1) 0%,
		rgba(182, 130, 39, 1) 100%
	);
}
/*FONT SIZE*/
@mixin fz-65 {
	font-size: 6.5rem;
	@include max-media(1024px) {
		font-size: 5.5rem;
	}
	@include max-media(768px) {
		font-size: 3.5rem;
	}
	@include max-media(500px) {
		font-size: 3rem;
	}
}
@mixin fz-60 {
	font-size: 6rem;
	@include max-media(1024px) {
		font-size: 5rem;
	}
	@include max-media(768px) {
		font-size: 4rem;
	}
	@include max-media(500px) {
		font-size: 3.6rem;
	}
}
@mixin fz-50 {
	font-size: 5rem;
	@include max-media(1024px) {
		font-size: 4.2rem;
	}

	@include max-media(768px) {
		font-size: 3.2rem;
	}
}
@mixin fz-36 {
	font-size: 3.6rem;
	@include max-media(768px) {
		font-size: 2.8rem;
	}
	@include max-media(500px) {
		font-size: 2.6rem;
	}
}
@mixin fz-30 {
	font-size: 3rem;
	@include max-media(768px) {
		font-size: 2.6rem;
	}
	@include max-media(500px) {
		font-size: 2.2rem;
	}
}
@mixin fz-28 {
	font-size: 2.8rem;
	line-height: 1.3;
	@include max-media(768px) {
		font-size: 2.4rem;
	}
}
@mixin fz-24 {
	font-size: 2.4rem;
	@include max-media(768px) {
		font-size: 2.2rem;
	}
}
@mixin fz-22 {
	font-size: 2.2rem;
	@include max-media(768px) {
		font-size: 2rem;
	}
}
@mixin fz-20 {
	font-size: 2rem;
	@include max-media(768px) {
		font-size: 1.8rem;
	}
}
@mixin fz-19 {
	font-size: 1.9rem;
	@include max-media(768px) {
		font-size: 1.7rem;
	}
}
@mixin fz-17 {
	font-size: 1.9rem;
	@include max-media(768px) {
		font-size: 1.5rem;
	}
}
/*FONT SIZE - END*/
