.open-video-btn {
	display: block;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, 0.4);
		background-image: url(../images/video-btn.png);
		background-size: 2rem auto;
		background-repeat: no-repeat;
		background-position: center center;
		z-index: 2;
		border-radius: 0.5rem;
	}
	img {
		width: 100%;
		height: auto;
	}
}
.ratio-box {
	display: block;
	position: relative;
	padding-top: 100%;
	height: 0;
	overflow: hidden;
	background-color: #f6f6f6;
	img {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 100%;
		max-height: 100%;
		width: auto;
		width: auto;
	}
	iframe {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.mona-content {
	strong,
	b {
		font-weight: bold;
	}
	em,
	i {
		font-style: italic;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.3;
		margin-bottom: 0.5em;
		margin-top: 0.6em;
	}
	h1 {
		font-size: 1.7em;
	}
	h2 {
		font-size: 1.6em;
	}
	h3 {
		font-size: 1.25em;
	}
	h4 {
		font-size: 1.125em;
	}
	h5 {
		font-size: 1em;
	}
	h6 {
		font-size: 0.85em;
	}
	p {
		margin: 1em 0;
	}
	ul,
	ol {
		margin: 1em 0;
		list-style-position: inside;
	}
	ul ul,
	ul ol,
	ol ul,
	ol ol {
		margin-left: 1em;
	}
	ul {
		list-style-type: disc;
	}
	ol {
		list-style-type: decimal;
	}
	ul ul,
	ol ul {
		list-style-type: circle;
	}
	ol ol,
	ul ol {
		list-style-type: lower-latin;
	}
	img,
	iframe {
		max-width: 100% !important;
		height: auto;
	}
	blockquote {
		background: #f9f9f9;
		border-left: 10px solid #ccc;
		margin: 1em 0;
		padding: 1em;
		quotes: '\201C''\201D''\2018''\2019';
		&::before {
			color: #ccc;
			content: open-quote;
			font-size: 4em;
			line-height: 0.1em;
			margin-right: 0.25em;
			vertical-align: -0.4em;
		}
		p {
			display: inline;
		}
	}
	table {
		border-collapse: collapse;
		max-width: 100%;
		margin: 1em 0;
		border: 1px solid #e1e1e1;
		th,
		td {
			border-right: 1px solid #e1e1e1;
			border-bottom: 1px solid #e1e1e1;
			padding: 5px 10px;
			vertical-align: middle;
		}
	}
	.mona-youtube-wrap {
		position: relative;
		height: 0;
		padding-top: 56.25%;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.mona-table-wrap {
		overflow: auto;
	}
}
.mfp-zoom-in {
	.mfp-content {
		opacity: 0;
		transition: all 0.2s ease-in-out;
		transform: scale(0.8);
	}
	&.mfp-bg {
		opacity: 0;
		transition: all 0.3s ease-out;
	}
	&.mfp-ready {
		.mfp-content {
			opacity: 1;
			transform: scale(1);
		}
		&.mfp-bg {
			opacity: 0.8;
		}
	}
	&.mfp-removing {
		.mfp-content {
			transform: scale(0.8);
			opacity: 0;
		}
		&.mfp-bg {
			opacity: 0;
		}
	}
}
.mfp-content {
	.mfp-close {
		width: 3rem;
		height: 3rem;
		color: $main-cl;
		transition: 0.3s;
		@include mid-flex;
	}
}
html {
	.mfp-bg {
		z-index: 999998;
	}
	.mfp-wrap {
		z-index: 999999;
	}
}

.mfp-container {
	padding: 0;
}
.main-popup {
	background: #fff;
	padding: 3rem;
	max-width: 65rem;
	margin: 4rem auto;
	position: relative;
}
.lg-outer {
	.lg-thumb {
		margin-left: auto;
		margin-right: auto;
	}
	.lg-thumb-item {
		&:hover,
		&.active {
			border-color: $main-cl;
		}
	}
}
