.blog-list {
	margin: -1rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.blog-item {
	text-align: center;
	padding: 1rem;
	width: calc(100% / 3);
}
.blog-img {
	margin-bottom: 1.5rem;
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
		object-fit: cover;
		transition: $t1 $cubic1;
		transform: scale(1.2);
		&:hover {
			transform: scale(1);
		}
	}
}
.blog-content {
	.main-title {
		margin-bottom: 0.5rem;
		a {
			color: $text-black-cl;
			transition: $t1 $cubic1;
			&:hover {
				color: $main-cl;
			}
		}
	}
	.desc {
		margin-bottom: 2rem;
	}
	.readmore-btn {
		margin: 0 auto;
	}
}
@include max-media(500px) {
	.blog-list-wrap {
		margin-top: 1rem;
	}
	.blog-item {
		width: 100%;
	}
}
