.main-btn {
	position: relative;
	display: inline-block;
	padding: 1.4rem 1.5rem 1.3rem;
	width: 22.5rem;
	max-width: 100%;
	color: $text-black-cl;
	text-transform: uppercase;
	z-index: 1;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	@include transition($t2);
	@include main-gradient;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-color: $second-cl;
		@include hidden;
		@include transition($t2);
	}
	&:hover {
		color: $main-cl;
		&::after {
			left: 0;
			width: 100%;
			@include visible;
		}
	}
}

.readmore-btn {
	font-weight: bold;
	color: $main-cl;
	border-bottom: 1px solid currentColor;
	transition: $t1 $cubic1;
	@include lh(24, 14);
	width: max-content;
	&:hover {
		color: $second-cl;
	}
}

.hamburger-btn {
	position: relative;
	z-index: 899;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 3.5rem;
	cursor: pointer;
	.bar {
		position: relative;
		background: $main-cl;
		transition: all 0ms 300ms;
		&,
		&::before,
		&::after {
			width: 3.5rem;
			height: 0.3rem;
		}
		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			background: $main-cl;
		}
		&::before {
			bottom: 1rem;
			transition: bottom $t1 $t1 cubic-bezier(0.23, 1, 0.32, 1),
				transform $t1 cubic-bezier(0.23, 1, 0.32, 1);
		}
		&::after {
			top: 1rem;
			transition: top $t1 $t1 cubic-bezier(0.23, 1, 0.32, 1),
				transform $t1 cubic-bezier(0.23, 1, 0.32, 1);
		}
	}
	&.--active {
		.bar {
			background: rgba(255, 255, 255, 0);
			&::before {
				bottom: 0;
				transform: rotate(-45deg);
				background-color: $main-cl;
				transition: bottom $t1 cubic-bezier(0.23, 1, 0.32, 1),
					transform $t1 $t1 cubic-bezier(0.23, 1, 0.32, 1);
			}
			&::after {
				top: 0;
				transform: rotate(45deg);
				background-color: $main-cl;
				transition: top $t1 cubic-bezier(0.23, 1, 0.32, 1),
					transform $t1 $t1 cubic-bezier(0.23, 1, 0.32, 1);
			}
		}
	}
}

.scroll-top {
	position: fixed;
	right: 1.5rem;
	bottom: 15rem;
	width: 4rem;
	height: 4rem;
	z-index: 899;
	font-size: 1.4rem;
	border-radius: 0.5rem;
	background-color: $main-cl;
	border: 1px solid $main-cl;
	color: $white-cl;
	box-shadow: 0 0.5rem 1.5rem 0 rgba(#000, 0.2);
	cursor: pointer;

	@include transform(translateY(1rem));
	@include transition($t2);
	@include hidden;
	@include mid-flex;
	&.--show {
		@include visible;
		@include transform(translateY(0));
	}
}
