.f-control {
	appearance: none;
	font: inherit;
	color: inherit;
	outline: none;
	border-radius: 0;
	width: 100%;
	border: 1px solid #e1e1e1;
	background-color: $third-cl;
	color: $text-black-cl;
	padding: 1rem 1.5rem;
	height: 4.4rem;
	&::placeholder {
		color: $border-cl;
	}
	&:disabled {
		cursor: not-allowed;
	}
	&:focus {
		outline: none;
	}
	&.wpcf7-not-valid {
		border-color: #f00;
	}
	&.--f-2 {
		border: none;
	}
}
select {
	&.f-control {
		cursor: pointer;
		background: url(../images/select-icon.png) right 0 center / 1.5rem no-repeat;
		padding-right: 3.5rem;
		border: none;
		border-bottom: 1px solid $border-cl;
		text-transform: uppercase;
		&.--f-2 {
			background: url(../images/select-icon.png) $third-cl right 1.5rem center /
				1.5rem no-repeat;
		}
	}
}
textarea {
	&.f-control {
		display: block;
		height: 12rem;
		padding: 1.5rem 2rem;
		resize: none;
		border: none;
	}
}
.custom-file {
	display: block;
	span {
		cursor: pointer;
		display: inline-block;
		color: inherit;
		width: 100%;
		background-color: $third-cl;
		color: $text-black-cl;
		padding: 1rem 1.5rem;
		min-height: 4.4rem;
		line-height: 2.4rem;
		text-transform: uppercase;
	}
	input {
		display: none;
	}
}
.custom-radio {
	display: flex;
	align-items: center;
	cursor: pointer;
	input {
		display: none;
		&:checked ~ .checkmark {
			border-color: $main-cl;
			border: none;
			&::after {
				opacity: 1;
			}
		}
	}
	.checkmark {
		height: 2rem;
		width: 2rem;
		background-color: transparent;
		border: 1px solid $border-cl;
		border-radius: 100%;
		margin-right: 0.5rem;
		flex-shrink: 0;
		&::after {
			content: '✔';
			width: 100%;
			height: 100%;
			opacity: 0;
			color: $white-cl;
			border-radius: 100%;
			background-color: #19e629;
			@include mid-flex;
		}
	}
}
.custom-checkbox {
	display: flex;
	align-items: center;
	cursor: pointer;
	input {
		display: none;
		&:checked ~ .checkmark {
			border-color: $main-cl;
			&::after {
				opacity: 1;
			}
		}
	}
	.checkmark {
		height: 1.6rem;
		width: 1.6rem;
		background-color: transparent;
		border: 2px solid $border-cl;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 1rem;
		flex-shrink: 0;
		&::after {
			content: '✔';
			line-height: 1;
			opacity: 0;
			color: $second-cl;
			font-size: 1.4rem;
		}
	}
}
.custom-checkbox-2 {
	display: block;
	position: relative;
	padding-left: 3.5rem;
	cursor: pointer;
	input {
		display: none;
		&:checked ~ .checkmark {
			background-color: $main-cl;
			&::after {
				transform: scale(1);
				opacity: 1;
			}
		}
	}
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 2rem;
		width: 2rem;
		background-color: #eee;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.2s;
		&::after {
			content: '✔';
			transform: scale(0);
			opacity: 0;
			transition: inherit;
		}
	}
}
.custom-checkbox-3 {
	display: flex;
	align-items: center;
	cursor: pointer;
	input {
		display: none;
		&:checked {
			~ .checkmark {
				border-color: $main-cl;
				&::after {
					opacity: 1;
				}
			}
			~ span {
				font-weight: bold;
				color: #000;
			}
		}
	}
	span {
		color: rgba($color: $black-cl, $alpha: 0.6);
		@include lh(40, 15);
	}
	.checkmark {
		height: 1.4rem;
		width: 1.4rem;
		padding: 0.3rem;
		background-color: transparent;
		border: 1px solid $border-cl;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 1rem;
		flex-shrink: 0;
		&::after {
			content: '';
			width: 100%;
			height: 100%;
			background-color: $second-cl;
			opacity: 0;
		}
	}
}
