.register-partners {
	height: 8rem;

	> .main-btn {
		width: 100%;
		height: 100%;
		text-align: center;
		font-size: 2.1rem;
		line-height: 5.4rem;
	}
}
.partners {
	background-color: #f8f8f8;
	padding: 3.4rem 0;

	.col {
		width: 20%;
	}
	img {
		height: 100%;
		width: auto;
		object-fit: contain;
	}
	@include max-media(768px) {
		.col {
			width: calc(100% / 3);
		}
	}
	@include max-media(500px) {
		.col {
			width: 50%;
		}
	}
}
