.c-product__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	max-height: 82rem;
	overflow: hidden auto;
	@include custom-scrollbar(1px);
}
.c-product {
	position: relative;
	padding: 3rem;
	width: calc(100% / 3);
	transition: $t1 $cubic1;
	&:hover {
		background-color: $third-cl;
		img {
			transform: scale(1.1);
		}
	}
}
.c-product__img {
	margin-bottom: 1rem;
	img {
		width: 100%;
		height: auto;
		object-fit: cover;
		transition: $t1 $cubic1;
	}
}
.c-product__desc {
	text-align: center;
	.main-title {
		a {
			transition: $t1 $cubic1;
			color: $text-black-cl;
			&:hover {
				color: $main-cl;
			}
		}
	}
	.desc {
		opacity: 0.5;
		margin: 0.5rem 0;
	}
	.price {
		color: #b68227;
	}
}
.c-product__tag {
	position: absolute;
	top: 0.2rem;
	right: 1rem;
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	background-color: $second-cl;
	@include mid-flex;
	p {
		color: $main-cl;
		font-weight: bold;
		font-size: 1.2rem;
		text-transform: uppercase;
	}
}
@include max-media(768px) {
	.c-product {
		padding: 1.5rem;
		width: 50%;
	}
}
@include max-media(500px) {
	.c-product {
		width: 100%;
	}
}
