.tabs {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-bottom: 1rem;
	gap: 1rem;
	transition: $t1 $cubic1;
	li {
		grid-column: span 1;
		position: relative;
		padding: 1.4rem 1.5rem 1.3rem;
		text-transform: uppercase;
		background-color: #9f9f9f;
		color: $text-white-cl;
		transition: $t1;
		text-align: center;
		p {
			position: relative;
			z-index: 1;
		}
		&:hover {
			color: $text-black-cl;
			&:after {
				@include visible;
			}
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			transition: $t1 $cubic1;
			@include main-gradient;
			@include hidden;
		}
	}
	li.--active {
		color: $text-black-cl;
		&:after {
			@include visible;
		}
	}
}
.tabs-2 {
	position: absolute;
}
.tab-link {
	cursor: pointer;
}
.tab-content {
	display: none;
	&.--active {
		display: block;
		animation: fadeInUp $t2 forwards;
	}
}
.tab-content {
}
.tabs__see-more {
	display: none;
	cursor: pointer;
	margin-bottom: 1rem;
	div {
		padding: 8px;
		font-size: 12px;
		color: $main-cl;
		text-transform: uppercase;
		font-weight: bold;
		border-radius: 5px;
		border: 1px solid $main-cl;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
@include max-media(500px) {
	.tabs {
		max-height: 4.4rem;
		overflow: hidden;
		li {
			grid-column: span 2;
		}
		&.--show {
			max-height: 21rem;
		}
	}
	.tab-content {
		table {
			td {
				&:nth-child(n + 2) {
					p {
						padding-left: 2rem;
					}
				}
			}
		}
	}
	.tabs__see-more {
		display: block;
	}
}
